.wrapper {
	padding: var(--layout-gap-size);
	margin: 0 auto;
	max-width: 1920px;
}

.pageContent {
	margin: 0 auto;
	padding: 0 clamp(
		0px,
		7.5vw,
		calc(var(--layout-gap-size) * 1.8)
	);
}

.footer {
	padding: 2.2em;
	margin-top: var(--layout-gap-size);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(var(--panel-gradient-deg), var(--bg-lighter-color), var(--bg-medium-color));
	color: var(--fg-dim-color);
}

.footer a {
	text-decoration: underline;
	font-weight: 600;
}

@media (max-width: 1500px) {
	.pageContent {
		padding: 0 clamp(
			0px,
			4vw,
			calc(var(--layout-gap-size) * 1.8)
		);
	}
}

@media (max-width: 799px) {
	.pageContent {
		padding: 0rem;
	}
}
