.profile {
	--profile-size: clamp(190px, 40vw, 250px);
}

.profileWrapper {
	display: flex;
	justify-content: center;
	padding-bottom: 1rem;
}

.profileWrapper > * {
	flex-shrink: 0;
}

.profile {
	width: var(--profile-size) !important;
	height: var(--profile-size) !important;
	border: var(--border-size-thinner) solid var(--bg-lighter-color);
}

.linkList {
	list-style: none;
	padding-left: 1em;
}

.linkLine {
	display: flex;
	width: max-content;
	gap: 0.5em;
	align-items: center;
	--icon-color: var(--fg-dim-color);
	color: var(--fg-dim-color);
}

.linkLine:hover,
.linkLine:focus {
	--icon-color: var(--accent-color);
}

.linkIcon {
	width: 1.5em;
	height: 1.5em;
}

.description {
	font-size: clamp(0.8rem, 4vw, 1rem);
}

.description h1,
.description h2,
.description h3 {
	font-weight: 400;
	color: var(--accent-color);
	line-height: 1.7em;
}

.description h1 {
	font-size: 1.4em;
	text-decoration: underline;
}

.description h2 {
	font-size: 1.2em;
}

.description h3 {
	font-size: 1.1em;
	font-style: italic;
}

.description a {
	color: var(--page-link-color);
	text-decoration: underline;
	font-weight: 600;
	transition: color, var(--link-tr-duration) var(--link-tr-style);
}

.description a:hover,
.description a:focus {
	color: var(--accent-color);
	outline: none;
}
