.tag {
	padding: 0.25em 0.5em;
	border-radius: 0.5em;
	display: inline-block;
	font-size: 0.75rem;
	border-width: 2px;
	border-style: solid;
	border-color: var(--tag-color);
	color: var(--tag-color);
	user-select: none;
	font-weight: 600;
}

.wipTag {
	--tag-color: var(--wip-tag-color);
}

.cTag {
	--tag-color: var(--c-tag-color);
}

.rustTag {
	--tag-color: var(--rust-tag-color);
}

.tagGroup {
	display: flex;
	column-gap: 0.13em;
	row-gap: 0.5em;
	flex-wrap: wrap;
}
